body{
     margin: 0;
     padding: 0;
     background-color: #f5f7f8 ;
}

i{
    padding:10px;
}
.nav-link{
    color: white!important;
}
.navbar{
    padding: 0;
}
.edit-account-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.n-brand{
   background-color: #3a4b53;
   padding: 6px 24px!important;
   margin: 0;
}
.n-brand:hover{
    color: #000!important;
    background-color: #ccc!important;
}
.bg-dark{
    background-color:#4d636f !important ;
}

.dropdown:hover>.dropdown-menu {
 display: block;
}
.n-nav-item:hover{
    background-color: #fff;
     color: #BF2C0C!important;
}
.n-nav-item-drop-menu:hover{
    color: #BF2C0C!important;
    background-color: #ccc!important;
}
/*Left Side Style*/

.card-title{
    text-align: center;
    padding: 10px;
}

.card-profile-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
hr{
    margin: 1rem!important;
}
.card-text >i{
    color: #607d8b !important;
    padding-right: 20px;
}

